<div class="container myContainer">
  <hr>
  <app-game-control
    (currentTime)="receiveGameTime($event)"
    (seconds)="receiveGameTimeArr($event)"></app-game-control>
  <hr>
  <div class="row myRow">
    <div class="col col-md-5">
      <p class="alert alert-secondary centerText">{{gameTime}}</p>
    </div>
  </div>
  <div class="row myRow">
    <div class="col col-md-4">
     <app-even
        [gameTimeEven]="gameTime"
        [gameTimeEvenArr]="gameTimeArr">
     </app-even>
    </div>
    <div class="col col-md-4">
      <app-odd
        [gameTimeOdd]="gameTime"
        [gameTimeOddArr]="gameTimeArr">
      </app-odd>
    </div>
  </div>
</div>
